.App{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.img{
  border-radius: 30px;
  border: solid 5px white;
  width: 50%;
  margin-top: 25px;
}

.d1{
  border: solid 2px black;
  width: 60%;
  margin: 15px auto;
  text-align: center;
}

hr{
  width: 50%;
}